

.navbar-img{
    width: 200px;
}

.nav-link{
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
}

.main-banner{
    background: url("./Images/Bitmap.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 120px 30px;
    border-radius: 20px;
}